
<main>    
    <nav class="header">
        <div class="left">
            <div class="mybooks">MyBooks</div>
        </div>
        <div class="right">
            <div class="home">
                <a routerLink="home1">Home</a>
            </div>
            <div class="register">
                <a routerLink="register1">Registro</a>
            </div>
            <div class="profile">
                <a routerLink="profile1">Perfil</a>
            </div>
        </div>
    </nav>
</main>    

