
<main>    
    <nav class="header">
        <div class="left">
            <div class="mybooks">MyBooks</div>
        </div>
        <div class="right">
            <div class="home">
                <a routerLink="home1">Home</a>
            </div>
            <div class="add">
                <a routerLink="add1">Añade tu Libro</a>
            </div>
            <div class="mod">
                <a routerLink="mod1">Modificar</a>
            </div>
            <div class="books">
                <a routerLink="books1">Libros</a>
            </div>
            <div class="register">
                <a routerLink="register1">Registro</a>
            </div>
            <div class="profile">
                <a routerLink="profile1">Perfil</a>
            </div>
            <div class="login">
                <a routerLink="login1">LogIn</a>
            </div>
        </div>
    </nav>
</main>    

