
<main>
    <div class="web">
        <div class="left">
            <div class="left_foto">
                <div class="left_foto_cont"></div>
            </div>
            <div class="left_texto">
                <div class="left_texto_title"></div>
                <div class="left_texto_txt">
                    <div class="name">Nombre:<input class="nombre" type="text"></div>
                    <div class="surname">Apellido:<input class="apellido" type="text"></div>
                    <div class="mail">Correo:<input class="correo" type="email"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_title"></div>
            <div class="right_text">
                <form>
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                    <input type="email" placeholder="Correo">
                    <input type="url" placeholder="URL">
                    <button type="button">Modificar</button>
                </form>
            </div>
        </div>
    </div>
</main>

