<div class="web_2">
    <div class="form">
        <div class="form_title"><u>Añade Nuevo Libro</u></div>
        <div class="form_text">
            <form>
                <input type="text" placeholder="id libro" #input1>
                <input type="text" placeholder="id user" #input2>
                <input type="email" placeholder="Titulo" #input3>
                <input type="text" placeholder="Tipo" #input4 >
                <input type="text" placeholder="Autor" #input5>
                <input type="email" placeholder="Precio" #input6>
                <input type="url" placeholder="Foto" #input7>
                <button type="button" on-click='newbook(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value,input7.value)'>Añadir</button>
            </form>
        </div>
    </div>
</div>