<div class="web_2">
    <div class="buscador">
        <input type="url" placeholder="ID Libro" #input>
                <button type="button" on-click=buscar(+input.value)>Buscar</button>
    </div>
    <div class="form">
        <div class="form_title"><u>Añade Nuevo Libro</u></div>
        <div class="form_text">
            <form>
                <input type="text" placeholder="id libro" #input1 [value]="bookEdited?.id_book">
                <input type="text" placeholder="id user" #input2 [value]="bookEdited?.id_user">
                <input type="email" placeholder="Titulo" #input3 [value]="bookEdited?.title">
                <input type="text" placeholder="Tipo" #input4 [value]="bookEdited?.type">
                <input type="text" placeholder="Autor" #input5 [value]="bookEdited?.author">
                <input type="email" placeholder="Precio" #input6 [value]="bookEdited?.price">
                <input type="url" placeholder="Foto" #input7 [value]="bookEdited?.photo">
                <button type="button" on-click=cambio(+input1.value,+input2.value,input3.value,input4.value,input5.value,+input6.value,input7.value)>Modificar</button>
            </form>
        </div>
    </div>
</div>
