
<main>
    <div class="web">
    <div class="contenedor">
        <div class="titulo">Registrate aqui</div>
    <form>
        <div class="pos">
        <ul>
            <li><input type="text" placeholder="Nombre" style="height: 20px; width: 150px;"></li>
            <li><input type="text" placeholder="Apellido" style="height: 20px;width: 150px"></li>
            <li><input type="email" placeholder="Email" style="height: 20px;width: 150px"></li>
            <li><input type="url" placeholder="URL" style="height: 20px;width: 150px"></li>
            <li><input type="password" placeholder="Contraseña" style="height: 20px;width: 150px"></li>
            <li><input type="password" placeholder="Repetir contraseña" style="height: 20px;width: 150px"></li><br>
                <button type="button" style="width: 50px; height: 50px;">Aceptar</button>                
        </ul>
        </div>
    </form>
    </div>
    </div>
</main>

